<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>We'll be back.</h1>
    <p>Under maintenance.</p>
    {{> footer}}
  </body>
</html>